<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Framework Books View</title>
</head>
<body>
	<h1>Book List</h1>

	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Surname</th>
			<th>Books</th>
		</tr>
		<tr th:each="author : ${authors}">
			<td th:text="${author.id}">123</td>
			<td th:text="${author.firstName}">Kris</td>
			<td th:text="${author.lastName}">Monroe</td>
			<td th:text="${author.books}">books titles</td>
		</tr>
	</table>


</body>
</html>